<%= erb :nav %>
<% posts = Post.all %>

<div class="container">
  <div class="row">
    <div class="column user-column">
      <h4>user stuffs</h4>
    </div>
    <div class="column blank">

    </div>
    <div class="column feed-column">
      <h1>Post Feed</h1>
      <% posts.each do |post|%>
      <% if post != nil %>
      <blockquote >
        <h4><a href="http://localhost:4567/post/<%= post.id%>"><%= post.title%></a></h4>
        <p id="post-content"><%= post.content%></p>
        <% owner = User.find_by(id: post.user_id)%>
        <cite><%= owner.username + "," + post.created_at.to_s %></cite>
      </blockquote>
        <% end %>
        <% end %>
    </div>
  </div>
</div>
