<%= erb :nav %>
<div class="container">

<h1><%= @post.title %></h1>
<div class="post">

<p><%= @post.content%></p>
<p>
Tags:
<% if @tags == nil %>
<%=  "none"%>
<% else%>
<% @tags.each do |tag|%>
<a href="/tag/<%= tag%>"><%=  "#{tag}"%></a>
<% end%>
<% end%>
</p>
</div>

</div>
