<%= erb :nav %>
<% if @user.tags !=nil %>
<% tags = @user.tags.split(",")%>
<% else%>
<% tags = []%>
<% end%>


<div class="container">
  <div class="profile-photo">
    <img id= "photo" src=<%= "/avitars/#{@user.photo}.png"%> alt="">
    <h1><%= @user.username%></h1>
  </div>
  <div class="row profile-row">

    <div class="bio column">
      <p>Name:<br> <%= @user.name%></p>
      <p>Username:<br> <%= @user.username%></p>
      <p>Email:<br> <%= @user.email%></p>
      <p>Birthdate:<br> <%= @user.birthdate%></p>
      <p>Posts: <br> <%= @user.posts_count%></p>
      <p>Tags you follow: <br>
        <% tags.each do |tag|%>
        <a href="/tag/<%= tag%>"><%= tag%></a>
        <% end%>
      </p>
    </div>
    <div class="column blank">

    </div>
    <div class="posts column">
      <h3 id="block-title"> Your Posts</h3>
      <button type="button" name="post-reveal">New Post</button>
      <% 20.times do%>
      <% Post.find_each.reverse_each do |post|%>
      <% if post != nil && post.user_id == session[:user_id] %>
      <blockquote >
        <h4><a href="/post/<%= post.id%>"><%= post.title%></a></h4>
        <% if post.content.length > 300%>
        <p id="post-content"><%="#{post.content[0,293]}..."%></p>
        <% else%>
        <p id="post-content"><%="#{post.content}"%></p>
        <% end%>
        <% owner = User.find_by(id: post.user_id)%>
        <cite><%= "#{owner.username},#{post.created_at.to_s}" %></cite>
        <cite><%= "Post ID:#{post.id}" %></cite>
        <button class="options-btn"type="button" name="button">
          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        </button>
      </blockquote>
        <% end %>
        <% end %>
        <% end %>

        <div class="overlay"></div>
        <div class="pop-up">
          <form action="/deletepost" method="post">
            <input type="text" name="post-id" placeholder="Enter Post ID...">
          <button type="submit" name="button">Delete Post</button>
          <button type="button" name="button" onclick="location.href='/profile'">Cancel</button>
        </form>
        </div>

      <form class="post-form hidden" action="/profile" method="post">
        <label>Title</label>
        <input type="text" name="title"><br>
        <label>Content</label>
        <textarea name="content" rows="8" cols="80"></textarea><br>
        <label>Tags</label>
        <input type="text" name="tags" placeholder="ie.tag1,tag2,tag3...">
        <input type="submit" value="Submit">
        <button type="button" name="cancel">Cancel</button>
      </form>
    </div>
  </div>
</div>
<script src="/profile.js" charset="utf-8"></script>
